#message {
  .msg-group {
    .msg-item {
      border-bottom: 1px solid #ccc;
      padding: .5rem;
      margin: .5rem 0;

      a {
        .avatar {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
        }

        .title {
          margin-left: -6rem;
          color: #333;
          font-size: 1.1rem;
        }

        .time {
          color: #aaaaaa;
          font-size: .9rem;
        }
      }

    }
  }
}

#contact {
  * {
    width: 100%;
  }

  .new-friend-box {
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
    color: #222222;
    font-size: 1.1rem;

    i {
      font-size: 1.5rem;
      margin-right: -5rem;
    }

  }
  .person-group{
    padding: 1rem;
    a{
      color: #444444;
    }
    .router-link-active{
      padding: .5rem;
      background-color: lightblue;
      border-radius: 10px;
      margin: 0 .3rem;
      font-size: 1.1rem;
    }
  }

}


#my {
  height: 80vh;
  width: 100vw;
  padding: 1em;
  padding-top: 6rem;

  .avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .item {
    width: 100%;
    padding: .5rem 2rem;
    text-align: left;
    border-bottom: 1px solid #ccc;

    .pre-title {
      margin-right: 3rem;
      font-size: 1.1rem;
    }
  }

  .out-login {
    padding: .8rem 0;
    width: 80%;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 96, 88, 1);
    margin-top: 2rem;
    font-size: 1.1rem;

    &:hover {
      background-color: darkred;
      filter: brightness(120%);
    }

    &:active {
      filter: brightness(70%);
    }
  }
}
#group{
  .group-item{
    padding: .5rem;
    .avatar{
      height: 3rem;
      width: 3rem;
    }
    .group-name{
      font-size: 1.1rem;
      margin-left: 2rem;
      color: #666666;
    }
  }
}
#friends{
  .friendList{
    .list-name{

    }
    .friend{
      padding: .5rem;
      .avatar{
        height: 3rem;
        width: 3rem;
      }
      .friend-name{
        margin-left: 2rem;
        color: #666;
        font-size: 1.1rem;
      }
    }
  }
}


