.background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cover {
    height: 100vh;
    width: 100vw;
}

.fixed {
    position: fixed;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}
.avatar{
    border-radius: 50%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.home-center {
    height: 80vh;
    width: 100vw;
    padding: .8rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flex-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical-start {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-top {
    display: flex;
    flex-direction: column;
    align-items: center;

}